@charset "UTF-8";
/* CSS Document */
#masthead{
/*	background-color: #00BC9B; */
	background-image: url("../images/mountains.jpg");
		background-size: cover;
		background-position: center;
}

#about{
	background-color: #00BC9B;
	background-image: url("../images/Abstract-blue_0.jpg");
	background-size: cover;
	background-position: center;
}

#footer{
	background-color: #141F24;
}