@charset "utf-8";
/* CSS Document */

.outputText {
	font-size: 18pt;
}


.background {
	background-color: #B45959;
}

.formText {
	font-size: 13pt;
}

.buttonText {
	font-size: 25pt;
}


